# dependencies
**/node_modules

# env
**/.env

# build
backend/dist
frontend/build

# next.js
frontend/.next
frontend/out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts